@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');

body {
    background-color: #1B2528;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
    line-height: 150%;
}

h2 {
    width: 100%;
}

li {
    list-style: none;
}

ul {
    padding-inline-start: 0;
    margin-block-start: 0;
}

/*Nav*/
.menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px 30px;
}

.item-nav {
    list-style: none;
    padding: 10px 2%;
    margin-top: 10px;
    transition: all 0.1s ease;
}
.item-nav:hover{
    font-size: 1.1rem;
    text-transform: uppercase;
}

.item-nav a {
    text-decoration: none;
    color: gray;
}

#sun{
    display: block;
}

#moon{
    display: none;
}

.item-nav img {
    width: 20px;
    height: 20px;
}

/*Hero*/
#hero {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, 500px);
    background-image: url(../img/markus-spiske-FXFz-sW0uwo-unsplash.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.hero-text {
    grid-column: 1/2;
    grid-row: 1;
    width: 80%;
    height: auto;
    justify-self: end;
    text-align: right;
    align-self: center;
    letter-spacing: 1px;
    padding: 0 5%;
}

/* Main */
#projects,
#technology {
    margin: 30px 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    width: 450px;
    height: 450px;
    border: 15px solid #1B2528;
    margin: 20px 20px;
    opacity: 0.7;
    background-color: white;
    transition: all 0.5s linear;
    position: relative;
}
@media screen and (min-width: 800px) {
    .project:hover {
        opacity: 1;
        width: 470px;
        height: 470px;
    }
}

.project-item {
    object-fit: cover;
    object-position: 100% 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.project-item-app {
    object-fit: contain;
    object-position: 100% 0;
    width: 100%;
    height: auto;
}

/* Technologie z danego projektu */
.pro_techno {
    position: absolute;
    background-color: aliceblue;
    opacity: 0.9;
    height: auto;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1% 2% 2% 2%;
    margin-block-start: 0;
    
    
}

.techno_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.techno-item {
    max-height: 50px;
    min-height: 20px;
    max-width: 50px;
    min-height: 20px;
    margin: 3px auto;
}

h4 {
    color: #1B2528;
    text-align: center;
    font-size: 1.2rem;
    font-weight: normal;
}

.techno_list_all {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5% 6%;
}

h2 {
    border-bottom: 5px solid gray;
}

.item-tech {
    max-height: 64px;
    min-height: 20px;
    max-width: 64px;
    min-height: 20px;
    margin: 20px 20px;
    padding: 15px 15px;
}

/* Contact */
#contact{
    margin: 30px 5%;
    display: block;
    flex-wrap: wrap;
    text-align: center;
}

#contact img {
    width: 35px;
    height: 35px;
}

.copy{
    color: gray;
}

@media screen and (max-width: 800px) {
    .copy{
        font-size: 10;
    }
    .item-tech{
        margin: 5px 5px;
        padding: 5px 5px;
        height: 32px;
        width: 32px;
        font-size: 0.8rem;
    }
    .project{
        min-width: 200px;
        width: 80%;
        opacity: 1;

    }
    .project-item{
        object-fit:cover;
    }

    .techno-item{
        width: 32px;
        height: 32px;
    }

    h1{
        font-size: 16px;
    }

    h2{
        font-size: 14px;
    }

    h4{
        font-size: 12px;
    }
    p{
        font-size: 10px;
    }

    .item-nav{
        font-size: 10px;
    }

    
    
}