@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');

body{
    background-color: #1B2528;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 100;
    line-height: 150%;
}

h2{
    width: 100%;
}

li{
    list-style: none;
}

ul{
    padding-inline-start: 0;
    margin-block-start: 0;
}
/*Nav*/
.menu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px 30px;
}

.item-nav{
    list-style: none;
    padding: 10px 2%;
    margin-top: 10px;
}

.item-nav a{
    text-decoration: none;
    color: white;
}

/*Hero*/
.hero{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, 500px);
    background-image: url(../img/markus-spiske-FXFz-sW0uwo-unsplash.jpg);
    background-size:contain;
    background-repeat: no-repeat;
}

.hero-text{
    grid-column: 1/2;
    grid-row: 1;
    width: 80%;
    height: auto;
    justify-self: end;
    text-align: right;
    align-self: center;   
    letter-spacing: 1px; 
    padding: 0 5%;
}

/* Main */
.projects, .technology{
    margin: 30px 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    width: 450px;
    height: 450px;
    border: 15px solid whitesmoke;
    margin: 20px 20px;
    opacity: 0.7;
    background-color: white;
    transition: all 0.5s 0.3s ease-in-out;
    position: relative;
}

.project:hover{
    opacity: 1;
    width: 470px;
    height: 470px; 
}

.project-item{
    object-fit: cover;
    object-position: 100% 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.project-item-app{
    object-fit: contain;
    object-position: 100% 0;
    width: 100%;
    height: auto;
}
/* Technologie z danego projektu */
.pro_techno{
    position: absolute;
    background-color:aliceblue;  
    opacity: 0.9;
    height: auto;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5% 2%;
    margin-block-start: 0;
}

.techno_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.techno-item{
    max-height: 64px;
    min-height: 20px;
    max-width: 64px;
    min-height: 20px;
    margin: 5px auto; 
}

h4{
    color: #1B2528;
    text-align: center;
    font-size: 1.2rem;
    font-weight: normal;
}

.techno_list_all{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5% 6%;
}



.item-tech{
    max-height: 64px;
    min-height: 20px;
    max-width: 64px;
    min-height: 20px;
    margin: 20px 20px;
    padding: 15px 15px;
    transition: all 0.3s 0.2s ease-in-out;
    
}

.item-tech:hover{
    border-bottom: 10px solid seashell;
}